/* 

.about-section {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  border-bottom: 1px solid #1c2229;
}



.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 100px 80px;
}

.about-label {
  color: #7095b8;

  font-size: 11px;
  font-weight: 700;

  letter-spacing: 2px;

  margin-bottom: 20px;
}

.about-content h2 {
  font-family: "Cormorant Garamond", serif;

  color: #f5f7fa;

  font-size: clamp(55px, 6vw, 90px);

  font-weight: 600;

  line-height: 0.95;

  letter-spacing: -2px;

  margin-bottom: 30px;
}

.about-content p {
  max-width: 500px;

  color: #8e98a4;

  font-family: "Manrope", sans-serif;

  font-size: 15px;

  line-height: 1.8;

  margin-bottom: 18px;
}

.about-content .primary-button {
  width: fit-content;

  margin-top: 15px;
}


.about-image {
  min-height: 650px;

  overflow: hidden;

  border-left: 1px solid #1c2229;
}

.about-image img {
  width: 100%;
  height: 100%;

  display: block;

  object-fit: cover;

  filter: grayscale(10%);
}




@media (max-width: 1000px) {

  .about-section {
    grid-template-columns: 1fr;
  }

  .about-image {
    min-height: 500px;

    height: 500px;

    border-left: none;

    border-top: 1px solid #1c2229;

    order: -1;
  }

  .about-content {
    padding: 80px 50px;
  }

}




@media (max-width: 700px) {

  .about-image {
    min-height: 380px;

    height: 380px;
  }

  .about-content {
    padding: 70px 25px;
  }

  .about-content h2 {
    font-size: 58px;
  }

}  */

/* =========================================
   ABOUT SECTION
========================================= */

.about-section {
  width: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr;

  border-bottom: 1px solid #1c2229;
}


/* =========================================
   CONTENT
========================================= */

.about-content {
  display: flex;

  flex-direction: column;

  justify-content: center;

  padding: 80px 70px;
}

.about-label {
  color: #52779d;

  font-size: 10px;
  font-weight: 700;

  letter-spacing: 2px;

  margin-bottom: 16px;
}

/* ABOUT HEADING */
/* ABOUT HEADING */
.about-content h2 {
  font-family: "Cormorant Garamond", serif;

  color: #171b20;

  font-size: clamp(45px, 4.5vw, 60px);

  font-weight: 600;

  line-height: 0.98;

  letter-spacing: -1.5px;

  margin-bottom: 24px;
}

/* PARAGRAPHS */

.about-content p {
  max-width: 450px;

  color: #8e98a4;

  font-family: "Manrope", sans-serif;

  font-size: 14px;

  line-height: 1.7;

  margin-bottom: 16px;
}


/* BUTTON */

.about-content .primary-button {
  width: fit-content;

  margin-top: 12px;
}


/* =========================================
   IMAGE
========================================= */

.about-image {
  min-height: 520px;

  display: flex;

  align-items: center;

  justify-content: center;

  padding: 35px;

  overflow: hidden;

}


.about-image img {
  width: 100%;

  max-width: 500px;

  height: 450px;

  display: block;

  object-fit: cover;

  filter: grayscale(10%);
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 1000px) {

  .about-section {
    grid-template-columns: 1fr;
  }


  .about-image {
    min-height: auto;

    height: auto;

    padding: 35px;

    border-left: none;

   

    order: -1;
  }


  .about-image img {
    width: 100%;

    max-width: 550px;

    height: 420px;
  }


  .about-content {
    padding: 70px 50px;
  }
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 700px) {

  .about-image {
    padding: 25px;
  }


  .about-image img {
    height: 330px;
  }


  .about-content {
    padding: 60px 25px;
  }


  .about-content h2 {
    font-size: 48px;
  }


  .about-content p {
    font-size: 14px;
  }
}

/* LIGHT MODE */
.light-theme .about-content h2 {
  color:#171b20;
}

.light-theme .about-label {
  color: #52779d;
}

.light-theme .about-content p {
  color: #68727d;
}

/* =========================================
   FIX ABOUT HEADING IN DARK MODE
========================================= */

/* .about-content h2 {
  color: #f5f7fa !important;
}

/* Light mode */
.app.light .about-content h2 {
  color: #17202a !important;
}

/* Dark mode */
.app.dark .about-content h2 {
  color: #f5f7fa !important;
} */

.app.light .about-content h2 {
  color: #17202a !important;
}

.app.light .about-content p {
  color: #66717d !important;
}